.badge {
    display: inline-block;
    padding: 0.15em 0.6em;
    border-radius: 999px;
    font-size: 0.72em;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid;
}

.badge + .badge {
    margin-left: 0.5em;
}

.badge.normal {
    color: #7a7a7a;
    border-color: #7a7a7a;
}

.badge.wip {
    color: #ff5e00;
    border-color: #ff5e00;
}

.badge.convnet {
    color: #ffa600;
    border-color: #ffa600;
}

.badge.one_stage_det {
    color: #ffc55b;
    border-color: #ffc55b;
}

.badge.two_stage_det {
    color: #ffc55b;
    border-color: #ffc55b;
}

.badge.transformer {
    color: #fd4ec3;
    border-color: #fd4ec3;
}

.badge.vision_transformer {
    color: #ff8dd9;
    border-color: #ff8dd9;
}

.badge.autoencoder {
    color: #61f300;
    border-color: #61f300;
}

.badge.vae {
    color: #a3f070;
    border-color: #a3f070;
}

.badge.diffusion {
    color: #1896fd;
    border-color: #1896fd;
}