name: Update LOC JSON

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-loc:
    runs-on: ubuntu-latest

    steps:
      - name: Check commit message matches release-x.y.z
        if: github.event_name == 'push'
        run: |
          COMMIT_MSG="${{ github.event.head_commit.message }}"
          echo "Commit message: $COMMIT_MSG"
          if [[ ! "$COMMIT_MSG" =~ ^release-[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Not a release commit. Skipping LOC update."
            exit 1
          fi

      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch LOC from CodeTabs (exclude dirs)
        run: |
          curl -s "https://api.codetabs.com/v1/loc?github=ChanLumerico/lucid&branch=main&ignored=docs,devlog,review" > loc.json

      - name: Commit & push loc.json
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add loc.json
          git commit -m "chore: update loc.json" || exit 0
          git push
